// =================== general color scheme
$color-primary = #233445
$color-secondary = white

$color-global-bg = #f5f5f5

$color-border-primary = hsla(0,0%,90%,.7)

// =================== common colors by types
$color-success-fg = #4f8a10
$color-success-bg = #dff2bf

$color-warning-fg = #9f6000
$color-warning-bg = #feefb3

$color-error-fg = #d8000c;
$color-error-bg = #ffbaba;

// =================== colors for components
$color-link = #233445
$color-link-hover = lightness($color-link, 50%)
$color-link-focus = lightness($color-link, 80%)
$color-link-active-bg = #233445
$color-link-active-fg = white

// =================== buttons
// default
$color-button-text = black
